BOT_TOKEN= 
CLIENT_ID= 1546988305608867910
DATABASE_URL=file:./creo.db

LAVALINK_URL=lavalink.jirayu.net:13592
LAVALINK_AUTH=youshallnotpass
LAVALINK_NAME=PublicNode2
LAVALINK_SECURE=false

PREFIX=.
OWNER_ID= 1461150056915796153

# Webhooks
WEBHOOK_ERROR=
WEBHOOK_GUILD=
WEBHOOK_COMMAND=
WEBHOOK_NP=
WEBHOOK_PREMIUM=
